h1,
h2,
h3,
h4 {
  font-family: "Playfair Display", serif;
}
p {
  font-family: "Poppins", serif;
}
.hero {
  background: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
  text-align: center;
  padding: 160px 20px;
}
.hero h2 {
  font-family: "Poppins", serif;
}
.button {
  background-color: whitesmoke;
  padding: 15px 30px;
}
.content-heading {
  text-align: center;
}
