:root {
  --branding-color: #212529;
  --accent-color: rgb(196, 214, 252);
}

h1,
h2,
h3,
h4 {
  font-family: "Playfair Display", serif;
}
p {
  font-family: "Poppins", serif;
}
.hero {
  background: linear-gradient(
    359.3deg,
    rgb(196, 214, 252) 1%,
    rgba(187, 187, 187, 0) 70.9%
  );
  text-align: center;
  padding: 160px 20px;
}
.about-section {
  background: linear-gradient(
    359.3deg,
    rgba(187, 187, 187, 0) 1%,
    rgb(196, 214, 252) 70.9%
  );
}
.about.section {
  margin: 0 0 0 0;
}
.about-section-content {
  padding-left: 24px;
  padding-right: 24px;
}
.hero h2 {
  font-family: "Poppins", serif;
  padding-top: 15px;
  padding-bottom: 15px;
}
.button {
  background-color: var(--branding-color);
  color: white;
  padding: 15px 30px;
  border-radius: 4px;
}
.button:hover {
  background-color: var(--accent-color);
}
.content-heading {
  text-align: center;
  padding-top: 48px;
}
.row {
  padding-top: 36px;
  padding-bottom: 36px;
}

img {
  vertical-align: middle;
}
@media (max-width: 1000px) {
  h1 {
    font-size: 70px;
    line-height: 1.5;
    text-align: center;
  }
  h2,
  h3 {
    font-size: 55px;
    text-align: center;
  }
  button {
    font-size: 36px;
    margin-bottom: 36px;
  }
  p {
    font-size: 36px;
    text-align: center;
  }
  .hero {
    height: 1500px;
  }
}

.services-icon {
  font-size: 42px;
}
.services-left {
  text-align: center;
  padding-bottom: 24px;
  padding-top: 24px;
}
.services-section {
  margin-top: 40px;
  margin-bottom: 40px;
}
.services-heading {
  padding-bottom: 10px;
}
.services-info {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-bottom: 0;
}
.social-media-links {
  display: flex;
  justify-content: space-evenly;
  font-size: 42px;
  max-width: 250px;
  margin: 0 auto;
  margin-top: 25px;
}
.social-media-links a {
  color: var(--branding-color);
}
.social-media-links a:hover {
  color: var(--accent-color);
}
.email-address {
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin-top: 25px;
  margin-bottom: 50px;
}
.email-address a {
  text-decoration: none;
  color: var(--branding-color);
}
.email-address a:hover {
  text-decoration: underline;
  color: var(--accent-color);
}
.contact-heading {
  text-align: center;
  font-weight: bolder;
}
.contact-heading-main {
  font-size: 48px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
.footer {
  margin-top: 40px;
  margin-bottom: 40px;
}
.footer-email {
  display: flex;
  justify-content: center;
  padding-top: 36px;
}
.footer-email a {
  color: var(--branding-color);
  text-decoration: none;
}
.footer-email a:hover {
  color: var(--accent-color);
  text-decoration: underline;
}
.footer-social-media {
  display: flex;
  justify-content: space-evenly;
  font-size: 24px;
  max-width: 150px;
  margin: 0 auto;
}
.footer-social-media a {
  color: var(--branding-color);
}
.footer-social-media a:hover {
  color: var(--accent-color);
}
hr {
  color: var(--branding-color);
}
ul {
  text-align: right;
}
